osx_image: xcode8.3
sudo: required
dist: trusty
language: node_js
node_js: "8"
env:
  global:
  - ELECTRON_CACHE=$HOME/.cache/electron
  - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
os:
  - linux
  - osx
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache/electron-builder"
  - "$HOME/.cache"
script:
- npm run build
branches:
  only:
  - master
